<!-- divesites.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Dive Sites</h1>
<p>Display, Add, Update, and Delete Dive Site Records</p>

[<a href="/">Index</a> | <a href="/divers">Divers</a> | <a href="/units">Units</a> | <a href="/dives">Dives</a> | <a href="/divesites">Dive Sites</a> | <a href="/divelogs">Dive Logs</a> | <a href="/divestodivesites">Dives-to-Dive Sites</a>]

{{!-- Create a table --}}
<table id="divesites-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes in order --}}
        {{#each data}}

        <tr data-value={{this.divesite_id}}>
            <td><button onclick="deleteDiveSite({{this.divesite_id}})">Delete</button></td>
            <td>{{this.divesite_id}}</td>
            <td>{{this.site_name}}</td>
            <td>{{this.city}}</td>
            <td>{{this.country}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_divesite.js"></script>
<p>&nbsp;</p>
<h2>Add A New Dive Site</h2>
<p>To add a new dive site, please enter the dive information below and click 'Add Dive Site'!</p>
<div id="insert">
<form id="addDiveSite" {{!--method="POST" action="/addDive"--}}>
        <label for="insert_site_name"> Site Name: </label> <input type="text" name="insert_site_name" id="insert_site_name" required>
        <label for="insert_city"> City: </label> <input type="text" name="insert_city" id="insert_city" required>
        <label for="insert_country"> Country: </label> <input type="text" name="insert_country" id="insert_country" required>
    <input class="btn" type="submit" value="Add Dive Site">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_divesite.js"></script>
</div>


<h2>Updating A Dive Site</h2>
    <p>To update a dive site, select the dive from the dropdown and enter the updated the dive information below.</p>
    <form id="updateDiveSite">
        <label for="selected_site_name">Dive Site: </label>
        <select name="selected_site_name" id="siteSelect" required>
            <option value="option">Select a Dive Site</option>
            {{#each data}}
            <option value="{{this.divesite_id}}">{{this.site_name}}</option>
            {{/each}}
        </select>
        <label> Site Name: </label> <input type="text" name="update_site_name" id="update_site_name" required>
        <label> City: </label> <input type="text" name="update_city" id="update_city" required>
        <label> Country: </label> <input type="text" name="update_country" id="update_country" required>
        <input type="submit" value="Update Dive Site">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}} 
 

<script src="./js/update_divesite.js"></script>


</body>
