<!-- dives.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Dives</h1>
<p>Display, Add, Update, and Delete Dive Records</p>

[<a href="/">Index</a> | <a href="/divers">Divers</a> | <a href="/units">Units</a> | <a href="/dives">Dives</a> | <a href="/divesites">Dive Sites</a> | <a href="/divelogs">Dive Logs</a> | <a href="/divestodivesites">Dives-to-Dive Sites</a>]

{{!-- Create a table --}}
<table id="dives-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes in order --}}
        {{#each data}}

        <tr data-value={{this.dive_id}}>
            <td><button onclick="deleteDive({{this.dive_id}})">Delete</button></td>
            <td>{{this.dive_id}}</td>
            <td>{{this.units}}</td>
            <td>{{this.date}}</td>
            <td>{{this.max_depth}}</td>
            <td>{{this.avg_depth}}</td>
            <td>{{this.duration}}</td>
            <td>{{this.start_pressure}}</td>
            <td>{{this.end_pressure}}</td>
            <td>{{this.SAC}}</td>
            <td>{{this.gas_type}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.water_temperature}}</td>
            <td>{{this.visibility}}</td>
            <td>{{this.entry_details}}</td>
            <td>{{this.condition_note}}</td>
            <td>{{this.note}}</td>
            <td>{{this.site_rating}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_dive.js"></script>
<p>&nbsp;</p>
<h2>Add A New Dive</h2>
<p>To add a new dive, please enter the dive information below and click 'Add Diver'!</p>
<div id="insert">
<form id="addDive" {{!--method="POST" action="/addDive"--}}>
        <label> Units: </label>
        <select name="selected_unit_id" id="unitsSelect">Units: 
            {{#each unitsData}}
            <option value="{{this.unit_id}}">{{this.unit_name}}</option>
            {{/each}}
        </select>
       el <label> date </label> <input type="date" name="insert_date" id="insert_date">
        <label> max_depth </label> <input type="number" name="insert_max_depth" id="insert_max_depth">
        <label> avg_depth </lab> <input type="number" name="insert_avg_depth" id="insert_avg_depth">
        <label> duration </label> <input type="number" name="insert_duration" id="insert_duration">
        <label> start_pressure </label> <input type="number" name="insert_start_pressure" id="insert_start_pressure">
        <label> end_pressure </label> <input type="number" name="insert_end_pressure" id="insert_end_pressure">
        <label> gas_type </label> <input type="text" name="insert_gas_type" id="insert_gas_type">
        <label> water_temperature </label> <input type="number" name="insert_water_temperature" id="insert_water_temperature">
        <label> weight </label> <input type="number" name="insert_weight" id='insert_weight'>
        <label> visibility </label> <input type="number" name="insert_visibility" id="insert_visibility">
        <label> entry_details </label> <input type="text" name="insert_entry_details" id="insert_entry_details">
        <label> condition_note </label> <input type="text" name="insert_condition_note" id="insert_condition_note">
        <label> note </label> <textarea cols='50' rows="5" name="insert_note" id="insert_note"></textarea>
        <label> site_rating </label>
        <select name="insert_site_rating" id="insert_site_rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>  
        </select>
    <input class="btn" type="submit" value="Add Dive">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_dive.js"></script>
</div>


<h2>Updating A Dive</h2>
    <p>To update a dive, select the dive from the dropdown and enter the updated the dive information below.</p>
    <form id="updateDive">
        <label for="selected_dive_name">Dive: </label>
        <select name="selected_dive_name" id="diveSelect">
            <option value="option">Select a Dive</option>
            {{#each data}}
            <option value="{{this.dive_id}}">Dive ID: {{this.dive_id}} Date: {{this.date}}, Max Depth: {{this.max_depth}} Duration: {{this.duration}}</option>
            {{/each}}
        </select>
        <p>&nbsp;</p>
        <label> Units: </label>
        <select name="selected_unit_id" id="unitsUpdateSelect">Units: 
            {{#each unitsData}}
            <option value="{{this.unit_id}}">{{this.unit_name}}</option>
            {{/each}}
        </select>
        <label> date </label> <input type="date" name="update_date" id="update_date">
        <label> max_depth </label> <input type="number" name="update_max_depth" id="update_max_depth">
        <label> avg_depth </label> <input type="number" name="update_avg_depth" id="update_avg_depth">
        <label> duration </label> <input type="number" name="update_duration" id="update_duration">
        <label> start_pressure </label> <input type="number" name="update_start_pressure" id="update_start_pressure">
        <label> end_pressure </label> <input type="number" name="update_end_pressure" id="update_end_pressure">
        <label> gas_type </label> <input type="text" name="update_gas_type" id="update_gas_type">
        <label> water_temperature </label> <input type="number" name="update_water_temperature" id="update_water_temperature">
        <label> weight </label> <input type="number" name="update_weight" id='update_weight'>
        <label> visibility </label> <input type="number" name="update_visibility" id="update_visibility">
        <label> entry_details </label> <input type="text" name="update_entry_details" id="update_entry_details">
        <label> condition_note </label> <input type="text" name="update_condition_note" id="update_condition_note">
        <label> note </label> <textarea cols='50' rows="5" name="update_note" id="update_note"></textarea>
        <label> site_rating </label>
        <select name="update_site_rating" id="update_site_rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>  
        </select>
        <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}} 
 

<script src="./js/update_dive.js"></script>


</body>
