<!-- dives.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Dives</h1>
<p>Display, Add, Update, and Delete Dive Records</p>

[<a href="/">Index</a> | <a href="/divers">Divers</a> | <a href="/units">Units</a> | <a href="/dives">Dives</a> | <a href="/divesites">Dive Sites</a> | <a href="/divelogs">Dive Logs</a> | <a href="/divestodivesites">Dives-to-Dive Sites</a>]

{{!-- Create a table --}}
<table id="dives-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes in order --}}
        {{#each data}}

        <tr data-value={{this.dive_id}}>
            <td><button onclick="deleteDive({{this.dive_id}})">Delete</button></td>
            <td>{{this.dive_id}}</td>
            <td>{{this.unit_id}}</td>
            <td>{{this.date}}</td>
            <td>{{this.max_depth}}</td>
            <td>{{this.avg_depth}}</td>
            <td>{{this.duration}}</td>
            <td>{{this.start_pressure}}</td>
            <td>{{this.end_pressure}}</td>
            <td>{{this.gas_type}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.water_temperature}}</td>
            <td>{{this.visibility}}</td>
            <td>{{this.entry_details}}</td>
            <td>{{this.condition_note}}</td>
            <td>{{this.note}}</td>
            <td>{{this.site_rating}}</td>
            <td>{{this.SAC}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_dive.js"></script>
<p>&nbsp;</p>
<h2>Add A New Diver</h2>
<p>To add a new diver, please enter their information below and click 'Add Diver'!</p>
<div id="insert">
<form id="addDiver" {{!--method="POST" action="/addDiver"--}}>
        <label for="insert_diver_name"> Diver Name </label> <input type="text" name="insert_diver_name" id="insert_diver_name">
        <label for="insert_diver_age"> Age </label> <input type="number" name="insert_diver_age" id="insert_diver_age">
    <input class="btn" type="submit" value="Add Diver">
    {{!--<input class="btn" type="button" value="cancel" onClick="browseDivers()">--}}
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_diver.js"></script>
</div>


<h2>Updating A Diver</h2>
    <p>To update a diver, select the diver name from the dropdown and update their information.</p>
    <form id="updateDiver">
        <label for="selected_diver_name">Diver Name: </label>
        <select name="selected_diver_name" id="mySelect">
            <option value="option">Select a Diver</option>
            {{#each data}}
            <option value="{{this.diver_id}}">{{this.diver_name}}</option>
            {{/each}}
        </select>
        <label for="updated_diver_name">Updated Diver Name: </label> <input type="text" name="updated_diver_name" id="updated_diver_name">
        <label for="selected_diver_age">Diver Age: </label> <input type="text" name="selected_diver_age" id="selected_diver_age">
        <input type="submit">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}} 
 

<script src="./js/update_diver.js"></script>


</body>
