<!-- divers.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- Script for jquery-->
<h1>Divers</h1>
<p>Display, Add, Update, and Delete Diver Records</p>

[<a href="/">Index</a> | <a href="/divers">Divers</a> | <a href="/units">Units</a> | <a href="/dives">Dives</a> | <a href="/divesites">Dive Sites</a> | <a href="/divelogs">Dive Logs</a> | <a href="/divestodivesites">Dives-to-Dive Sites</a>]


{{!-- Create a table --}}
<table id="divers-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{!--<th><button onClick="newDiver()">Add Diver</button></th>--}}
            <th></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the diver_id, diver_name, diver_age, etc in order --}}
        {{#each data}}

        <tr>
            <td><button onclick="deleteDiver({{this.diver_id}})">Delete</button></td>
            <td>{{this.diver_id}}</td>
            <td>{{this.diver_name}}</td>
            <td>{{this.diver_age}}</td>
            <td>{{this.avg_SAC}}</td>
            <td>{{this.num_dives}}</td>
            <td>{{this.total_dive_time}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_diver.js"></script>

<h3>Add New Diver:</h3>
<p>To add a new diver, please enter their information below and click 'Add Diver'!</p>
<form id="addDiver" {{!--method="POST" action="/addDiver"--}}>
    <legend><strong>Add Diver</strong></legend>
    <fieldset class="fields">
        <label for="insert_diver_name"> diver_name </label> <input type="text" name="insert_diver_name" id="insert_diver_name">
        <label for="insert_diver_age"> age </label> <input type="number" name="insert_diver_age" id="insert_diver_age">
    </fieldset>
    <input class="btn" type="submit" value="Add Diver">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_diver.js"></script>

<h3>Update Diver:</h3>
<p>To update diver record, please select their name, enter the updated information below, and click 'Update Diver'!</p>
<form id="updateDiver" {{!--method="POST" action="/addDiver"--}}>
    <legend><strong>Update Diver</strong></legend>
    <fieldset class="fields">
        <label for="insert_diver_name"> diver_name </label> <input type="text" name="update_diver_name" id="update_diver_name">
        <label for="insert_diver_age"> age </label> <input type="number" name="update_diver_age" id="update_diver_age">
    </fieldset>
    <input class="btn" type="submit" value="Update Diver">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/update_diver.js"></script>

</body>
