<!-- divers.hbs -->
<!-- Based on Based on starter code described in https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Divers</h1>
<p>Display, Add, Update, and Delete Diver Records</p>
{{!-- Create a table --}}
<table id="divers-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th colspan="2">Divers</th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes in order --}}
        {{#each data}}
        <tr data-value={{this.diver_id}}>
            <td><button onclick="updateDiver({{this.diver_id}})">Update</button></td>
            <td><button onclick="deleteDiver({{this.diver_id}})">Delete</button></td>
            <td class="diver-id">{{this.diver_id}}</td>
            <td class="diver-name">{{this.diver_name}}</td>
            <td class="diver-age">{{this.diver_age}}</td>
            <td>{{this.avg_SAC}}</td>
            <td>{{this.num_dives}}</td>
            <td>{{this.total_dive_time}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_diver.js"></script>
<p>&nbsp;</p>
<h2>Add A New Diver</h2>
<p>To add a new diver, please enter their information below and click 'Add Diver'!</p>
<div id="insert">
<form id="addDiver" {{!--method="POST" action="/addDiver"--}}>
        <label for="insert_diver_name"> Diver Name: </label> <input required type="text" name="insert_diver_name" id="insert_diver_name">
        <label for="insert_diver_age"> Age: </label> <input required type="number" min=0 max=150 name="insert_diver_age" id="insert_diver_age">
    <input class="btn" type="submit" value="Add Diver">
    {{!--<input class="btn" type="button" value="cancel" onClick="browseDivers()">--}}
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_diver.js"></script>
</div>


<h2>Updating A Diver</h2>
    <p>To update a diver, click the Update button in the row of the desired diver in the table above and update their information in these fields.</p>
    <form id="update-diver-form">
        {{!--<label for="selected_diver_name">Diver Name: </label>
        <select name="selected_diver_name" id="mySelect">
            <option value="option">Select a Diver</option>
            {{#each data}}
            <option value={{this.diver_id}}>{{this.diver_name}}</option>
            {{/each}}
        </select> --}}
        <label for="update_diver_id">Diver ID: </label> <input disabled type-"number" name="update_diver_id" id="update_diver_id">
        <label for="updated_diver_name">Diver Name: </label> <input disabled type="text" name="updated_diver_name" id="updated_diver_name">
        <label for="selected_diver_age">Diver Age: </label> <input disabled type="number" min=0 max=150 name="selected_diver_age" id="selected_diver_age">
        <input type="submit" value="Update Diver">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}} 
 

<script src="./js/update_diver.js"></script>


</body>
