<!-- divetodivesites.hbs -->
<!-- Based on Based on starter code described in https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Dives-To-Dive Sites</h1>
<p>Display, Add, Update, and Delete Dives-To-Dive Sites Records</p>
{{!-- Create a table --}}
<table id="divestodivesites-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th></th>
            <th>dives_to_divesites_id</th>
            <th>Dive</th>
            <th>Dive Site</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the attributes in order --}}
        {{#each data}}
        <tr data-value={{this.dives_to_divesites_id}}>
            {{!-- <td><button onclick="updateDiver({{this.diver_id}})">Update</button></td> --}}
            <td><button onclick="deleteDivesToDiveSites({{this.dives_to_divesites_id}})">Delete</button></td>
            <td>{{this.dives_to_divesites_id}}</td>
            <td><strong>Dives ID: </strong> {{this.dive_id}} <strong>Date: </strong> {{this.date}} <strong>Max Depth: </strong> {{this.max_depth}} <strong>Duration: </strong> {{this.duration}}</td>
            <td>{{this.site_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_divestodivesite.js"></script>
<p>&nbsp;</p>
<h2>Add A New Dive-To-Dive Site</h2>
<p>To add a new dive-to-dive site log, please enter the information below and click 'Add Dives-To-Dive Site'!</p>
<div id="insert">
<form id="addDivesToDiveSites" {{!--method="POST" action="/addDiver"--}}>
        <label for="insert_dive_name">Dive: </label>
        <select name="insert_dive_name" id="insertDiveSelect" required>
            <option value="option">Select a Dive</option>
            {{#each diveData}}
            <option value="{{this.dive_id}}">Dive ID: {{this.dive_id}} Date: {{this.date}}, Max Depth: {{this.max_depth}} Duration: {{this.duration}}</option>
            {{/each}}
        </select>
        <label for="insert_site_name">Site Name: </label>
        <select name="insert_site_name" id="insertSiteSelect" required>
            <option value="option">Site Name</option>
            {{#each siteData}}
            <option value="{{this.divesite_id}}">{{this.site_name}}</option>
            {{/each}}
        </select>
        <input class="btn" type="submit" value="Add Dives-To-Dive Site">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_divestodivesite.js"></script>
</div>


<h2>Updating A Dives-To-Dive Site</h2>
    <p>To update a dive-to-dive site log, select the log to update from the dropdowns and update the associated dive and site name from the dropdowns.</p>
    <form id="updateDivesToDiveSites">
        <label for="selected_dives_to_divesites_id">DTDS ID: </label>
        <select name="selected_dives_to_divesites_id" id="selectedDivesToDiveSitesId" required>
            <option value="option">Select an ID</option>
            {{#each data}}
            <option value="{{this.dives_to_divesites_id}}">{{this.dives_to_divesites_id}}</option>
            {{/each}}
        </select>
       <label for="update_dive_name">Dive: </label>
        <select name="update_dive_name" id="updateDiveSelect" required>
            <option value="option">Select a Dive</option>
            {{#each diveData}}
            <option value="{{this.dive_id}}">Dive ID: {{this.dive_id}} Date: {{this.date}}, Max Depth: {{this.max_depth}} Duration: {{this.duration}}</option>
            {{/each}}
        </select>
        <label for="update_site_name">Site Name: </label>
        <select name="update_site_name" id="updateSiteSelect" required>
            <option value="option">Site Name</option>
            {{#each siteData}}
            <option value="{{this.divesite_id}}">{{this.site_name}}</option>
            {{/each}}
        </select>
        <input type="submit" value="Update Dives-To-Dive Site">
</form>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}} 
 

<script src="./js/update_divestodivesite.js"></script>


</body>
