<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.diver_id}}</td>
            <td>{{this.diver_name}}</td>
            <td>{{this.diver_age}}</td>
            <td>{{this.avg_SAC}}</td>
            <td>{{this.num_dives}}</td>
            <td>{{this.total_dive_time}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>