<!-- units.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Units</h1>
<p>Display, Add, Update, and Delete Unit Records</p>

[<a href="/">Index</a> | <a href="/divers">Divers</a> | <a href="/units">Units</a> | <a href="/dives">Dives</a> | <a href="/divesites">Dive Sites</a> | <a href="/divelogs">Dive Logs</a> | <a href="/divestodivesites">Dives-to-Dive Sites</a>]

{{!-- Create a table --}}
<table id="units-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th></th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.unit_id}}>
            <td><button onclick="deleteUnit({{this.unit_id}})">Delete</button></td>
            <td>{{this.unit_id}}</td>
            <td>{{this.unit_name}}</td>
            <td>{{this.pressure_unit}}</td>
            <td>{{this.length_unit}}</td>
            <td>{{this.weight_unit}}</td>
            <td>{{this.temperature_unit}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_unit.js"></script>
<p>&nbsp;</p>
<h2>Add A New Unit:</h2>
<p>To add a new unit set, please enter the information below and click 'Add Unit'!</p>
<div id="insert">
<form id="addUnit" {{!--method="POST" action="/addUnit"--}}>
        <label for="insert_unit_name"> unit_name </label> <input type="text" name="insert_unit_name" id="insert_unit_name" required>
        <label for="insert_pressure_unit"> pressure_unit </label> <input type="text" name="insert_pressure_unit" id="insert_pressure_unit" required>
        <label for="insert_length_unit"> length_unit </label> <input type="text" name="insert_length_unit" id="insert_length_unit" required>
        <label for="insert_weight_unit"> weight_unit </label> <input type="text" name="insert_weight_unit" id="insert_weight_unit" required>
        <label for="insert_temperature_unit"> temperature_unit </label> <input type="text" name="insert_temperature_unit" id="insert_temperature_unit" required>
    <input class="btn" type="submit" value="Add Unit">
    {{!--<input class="btn" type="button" value="cancel" onClick="browseUnits()">--}}
</form>

<script src="./js/add_unit.js"></script>
</div>


<h2>Updating A Unit</h2>
    <p>To update a unit, select the unit name from the dropdown and update its information.</p>
    <form id="updateUnit">
        <label for="selected_unit_name">Unit Name: </label>
        <select name="selected_unit_name" id="unitSelect" required>
            <option value="option">Select a Unit</option>
            {{#each data}}
            <option value="{{this.unit_id}}">{{this.unit_name}}</option>
            {{/each}}
        </select>
        <label> unit_name </label> <input type="text" name="update_unit_name" id="update_unit_name" required>
        <label> pressure_unit </label> <input type="text" name="update_pressure_unit" id="update_pressure_unit" required>
        <label> length_unit </label> <input type="text" name="update_length_unit" id="update_length_unit" required>
        <label> weight_unit </label> <input type="text" name="update_weight_unit" id="update_weight_unit" required>
        <label> temperature_unit </label> <input type="text" name="update_temperature_unit" id="update_temperature_unit" required>
        <input type="submit">
</form>

<script src="./js/update_unit.js"></script>

</body>