<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

[<a href="/">Index</a> | <a href="/divers">Divers</a> | <a href="/units">Units</a> | <a href="/dives">Dives</a> | <a href="/divesites">Dive Sites</a> | <a href="/divelogs">Dive Logs</a> | <a href="/divestodivesites">Dives-to-Dive Sites</a>]

{{!-- Create a table --}}
<table id="units-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.unit_id}}</td>
            <td>{{this.pressure_unit}}</td>
            <td>{{this.length_unit}}</td>
            <td>{{this.weight_unit}}</td>
            <td>{{this.temperature_unit}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add New Unit:</h2>
<p>To add a new unit set, please enter the information below and click 'Add Unit'!</p>
<form id="addUnit" {{!--method="POST" action="/addDiver"--}}>
    <legend><strong>Add Diver</strong></legend>
    <fieldset class="fields">
        <label for="insert_diver_name"> diver_name </label> <input type="text" name="insert_diver_name" id="insert_diver_name">
        <label for="insert_diver_age"> age </label> <input type="text" name="insert_diver_age" id="insert_diver_age">
    </fieldset>
    <input type="submit" value="Add Diver">
    {{!--<input class="btn" type="button" value="cancel" onClick="browseDivers()">--}}
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_diver.js"></script>